<%- include('./layout/header') %>
<%- include('./layout/navbar') %>

<div class="container" >
    <!-- hero section start -->
    <div class="row p-4">
        <!-- carousel start -->
        <div class="col-xl-8 col-md-8 col-sm-12 col-12">
            <div id="carouselid" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselid" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselid" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselid" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img style="height: 300px;" src="/images/carousel/carousel1.jpg" class="d-block w-100" alt="carousel image">
                  </div>
                  <div class="carousel-item">
                    <img style="height: 300px;" src="/images/carousel/carousel2.jpg" class="d-block w-100" alt="carousel image">
                  </div>
                  <div class="carousel-item">
                    <img style="height: 300px;" src="/images/carousel/carousel3.jpg" class="d-block w-100" alt="carousel image">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselid" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselid" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <!-- carousel end -->
        <!-- recent post section start -->
        <div class="col-xl-4 col-md-4 col-sm-12 col-12">
            <!-- recent post item -->
            <div class="row p-1">
                <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                    <img style="width:100% ;" src="/images/carousel/carousel1.jpg" alt="">
                </div>
                <div class="col-xl-8 col-md-8 col-sm-8 col-12">
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- recent post item -->
             <!-- recent post item -->
             <div class="row p-1">
                <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                    <img style="width:100% ;" src="/images/carousel/carousel1.jpg" alt="">
                </div>
                <div class="col-xl-8 col-md-8 col-sm-8 col-12">
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- recent post item -->
             <!-- recent post item -->
             <div class="row p-1">
                <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                    <img style="width:100% ;" src="/images/carousel/carousel1.jpg" alt="">
                </div>
                <div class="col-xl-8 col-md-8 col-sm-8 col-12">
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- recent post item -->
             <!-- recent post item -->
             <div class="row p-1">
                <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                    <img style="width:100% ;" src="/images/carousel/carousel1.jpg" alt="">
                </div>
                <div class="col-xl-8 col-md-8 col-sm-8 col-12">
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- recent post item -->
        </div>
        <!-- recent post section end -->
    </div>
    <!-- hero section end -->

    <!-- display categories -->
    <div class="row my-2 py-2 px-4">
        <!--  .testimonial-group for horizontaly scroll -->
        <h6>All Categories</h6>
        <!-- testimonial-item -->
        <!-- category item  -->
            
        <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
            <div class="card w-100 h-100 rounded">
                <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                <p class="text-center">Lorem ipsum dolor </p>
            </div>
        </div>
        <!-- category item  -->
         <!-- category item  -->
         <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
            <div class="card w-100 h-100 rounded">
                <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                <p class="text-center">Lorem ipsum dolor </p>
            </div>
        </div>
        <!-- category item  -->
         <!-- category item  -->
         <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
            <div class="card w-100 h-100 rounded">
                <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                <p class="text-center">Lorem ipsum dolor </p>
            </div>
        </div>
        <!-- category item  -->
         <!-- category item  -->
         <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
            <div class="card w-100 h-100 rounded">
                <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                <p class="text-center">Lorem ipsum dolor </p>
            </div>
        </div>
        <!-- category item  -->
         <!-- category item  -->
         <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
            <div class="card w-100 h-100 rounded">
                <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                <p class="text-center">Lorem ipsum dolor </p>
            </div>
        </div>
        <!-- category item  -->
         <!-- category item  -->
         <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
            <div class="card w-100 h-100 rounded">
                <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                <p class="text-center">Lorem ipsum dolor </p>
            </div>
        </div>
        <!-- category item  -->
        <a href="" class="d-block text-end ">See all</a>
    </div>
    <!-- display categories -->
     <!-- display categories -->
     <div class="row my-2 py-2 px-4">
        <!--  .testimonial-group for horizontaly scroll -->
        <h6>Category1</h6>
        <!-- testimonial-item -->
        <!-- category item  -->
        <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
            <div class="card w-100 h-100 rounded">
                <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                <p class="text-center">Lorem ipsum dolor </p>
            </div>
        </div>
        <!-- category item  -->
         <!-- category item  -->
         <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
            <div class="card w-100 h-100 rounded">
                <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                <p class="text-center">Lorem ipsum dolor </p>
            </div>
        </div>
        <!-- category item  -->
         <!-- category item  -->
         <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
            <div class="card w-100 h-100 rounded">
                <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                <p class="text-center">Lorem ipsum dolor </p>
            </div>
        </div>
        <!-- category item  -->
         <!-- category item  -->
         <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
            <div class="card w-100 h-100 rounded">
                <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                <p class="text-center">Lorem ipsum dolor </p>
            </div>
        </div>
        <!-- category item  -->
         <!-- category item  -->
         <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
            <div class="card w-100 h-100 rounded">
                <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                <p class="text-center">Lorem ipsum dolor </p>
            </div>
        </div>
        <!-- category item  -->
         <!-- category item  -->
         <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
            <div class="card w-100 h-100 rounded">
                <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                <p class="text-center">Lorem ipsum dolor </p>
            </div>
        </div>
        <!-- category item  -->
        <a href="" class="d-block text-end ">See all</a>
    </div>
    <!-- display categories -->
        <!-- display categories -->
        <div class="row my-2 py-2 px-4">
            <!--  .testimonial-group for horizontaly scroll -->
            <h6>Category2</h6>
            <!-- testimonial-item -->
            <!-- category item  -->
            <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
                <div class="card w-100 h-100 rounded">
                    <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                    <p class="text-center">Lorem ipsum dolor </p>
                </div>
            </div>
            <!-- category item  -->
             <!-- category item  -->
             <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
                <div class="card w-100 h-100 rounded">
                    <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                    <p class="text-center">Lorem ipsum dolor </p>
                </div>
            </div>
            <!-- category item  -->
             <!-- category item  -->
             <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
                <div class="card w-100 h-100 rounded">
                    <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                    <p class="text-center">Lorem ipsum dolor </p>
                </div>
            </div>
            <!-- category item  -->
             <!-- category item  -->
             <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
                <div class="card w-100 h-100 rounded">
                    <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                    <p class="text-center">Lorem ipsum dolor </p>
                </div>
            </div>
            <!-- category item  -->
             <!-- category item  -->
             <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
                <div class="card w-100 h-100 rounded">
                    <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                    <p class="text-center">Lorem ipsum dolor </p>
                </div>
            </div>
            <!-- category item  -->
             <!-- category item  -->
             <div class="col-xl-2 col-md-2 col-sm-4 col-6 p-1 ">
                <div class="card w-100 h-100 rounded">
                    <img class="w-100 h-100" src="/images/carousel/carousel1.jpg" alt="category item">
                    <p class="text-center">Lorem ipsum dolor </p>
                </div>
            </div>
            <!-- category item  -->
            <a href="" class="d-block text-end ">See all</a>
        </div>
        <!-- display categories -->

</div>

<%- include('./layout/topfooter') %>
<%- include('./layout/footer') %>
