<header>
  <!-- navbar start -->
  <nav class="navbar navbar-expand-md bg-info">
      <div class="container-fluid">
        <a class="navbar-brand text-fest" href="/">Rent By Owner</a>
        <button class="navbar-toggler text-fest" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-fest"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav ">
            <li class="nav-item bg-fest text-blue fw-bold">
              <a class="nav-link active text-fest" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item bg-fest text-blue fw-bold">
              <a class="nav-link text-fest" aria-current="page" href="/admin">Admin</a>
            </li>
            <li class="nav-item bg-fest text-blue fw-bold">
              <a class="nav-link text-fest" aria-current="page" href="/admin/allpost">All Post</a>
            </li>
            <li class="nav-item bg-fest text-blue fw-bold">
              <a class="nav-link text-fest" aria-current="page" href="/admin/allcategory">All Category</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-fest" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Destination
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item text-blue" href="#">Action</a></li>
                <li><a class="dropdown-item text-blue" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-blue" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- navbar end -->
</header>
