<footer class="bg-info text-center">
    <!-- Copyright -->

    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-6 col-12 text-start">
                <a class="navbar-brand text-fest" href="#"><h3>Rent By Owner</h3> </a>

            </div>
            <div class="col-xl-6 col-md-6 col-sm-6 col-12 ">
                <ul class="d-flex flex-row flex-wrap navbar-nav flex-row-reverse
                justify-content-center align-items-center">
                    <li><a href="#" class="px-2 nav-item text-decoration-none fw-bold text-uppercase text-dark">home</a></li>
                    <li><a href="#" class="px-2 nav-item text-decoration-none fw-bold text-uppercase text-dark">About</a></li>
                    <li><a href="#" class="px-2 nav-item text-decoration-none fw-bold text-uppercase text-dark">blog</a></li>
                    <li><a href="#" class="px-2 nav-item text-decoration-none fw-bold text-uppercase text-dark">Service</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- Copyright -->
  </footer>